﻿@using P2FixAnAppDotNetCode.Models
@inject P2FixAnAppDotNetCode.Models.Services.IProductService ProductService
@model IEnumerable<Product>
<meta charset="UTF-8">

@{
    ViewData["Title"] = Localizer["ProductList"];
}


<br />
<div id="panel-body">
       <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>
                    <label>@Localizer["Name"]</label>
                </th>
                <th>
                    <label>@Localizer["Description"]</label>
                </th>
                <th>
                    <label>@Localizer["Price"]</label>
                </th>
                <th>
                    <label>@Localizer["Stock"]</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td style="text-align:center">@item.Price.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</td>
                    <td style="text-align:center">@ProductService.GetProductById(item.Id).Stock</td>
                    <td>
                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <button type="submit" class="btn btn-primary" @(item.Stock == 0 ? "disabled" : "")>
                                @Localizer["AddToCart"]
                            </button>

                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>